<form [formGroup]="searchForm">
  <ion-grid>
    <ion-searchbar type="text" formControlName="term"></ion-searchbar>
    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label position="stacked">Page</ion-label>
          <ion-input type="number" formControlName="page"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          <ion-label position="stacked">Results per Page</ion-label>
          <ion-input type="number" formControlName="perPage"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          <ion-label position="stacked">Show Match</ion-label>
          <ion-toggle formControlName="showMatch"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-badge *ngIf="count">{{ count | number }} Found</ion-badge>
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">Sort by</ion-label>
          <ion-select formControlName="sort">
            <ion-select-option *ngFor="let item of sort | keyvalue" [value]="item.key">{{ item.value }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">Order</ion-label>
          <ion-select formControlName="order">
            <ion-select-option *ngFor="let item of order | keyvalue" [value]="item.key">{{ item.value }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
