<ul *ngIf="extras">
  <li><strong>Joined:</strong> {{ extras.created_at | date }}</li>
  <li *ngIf="extras.name"><strong>Name:</strong> {{ extras.name }}</li>
  <li *ngIf="extras.company"><strong>Company:</strong> {{ extras.company }}</li>
  <li *ngIf="extras.location"><strong>Location:</strong> {{ extras.location }}</li>
  <li *ngIf="extras.email"><strong>Email:</strong> {{ extras.email }}</li>
  <li><strong>Public Repos:</strong> {{ extras.public_repos }}</li>
  <li><strong>Followers:</strong> {{ extras.followers }}</li>
</ul>
