<ion-header>
  <ion-toolbar>
    <app-search *ngIf="!(githubService.rateLimitedSubject | async)" (trigger)="doSearch($event)" [searchParams]="githubService.searchParamsSubject" [count]="githubService.count$ | async"></app-search>
    <div text-center *ngIf="githubService.rateLimitedSubject | async">
      Stop clicking for a minute! We're rate limited!
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list text-center>
    <app-user *ngFor="let user of githubService.results$ | async" [user]="user"></app-user>
  </ion-list>
</ion-content>
